<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="gb2312"/>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="/public/css/main.css"></link>-->
		{{template "css" .}}
		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
		{{template "js" .}}
	</head>
	<body>
		{{template "content" .}}
	</body>
</html>
