<!DOCTYPE HTML>
<html>
<head>
<title>	LBSIM Login	</title>
<script type="text/javascript">
function getLocation(){
		if("wrongUsrPw" == {{.LoginRet}}){
				alert("password or username is wrong,please input again");
		}
};	

function register(){
		window.location.href="/register";
};

</script>
</head>
<body onload="getLocation()">
		<form  align="center" action="/login" method="POST" name="loginForm">
		UserName: <input size="50" name="username" type="text" />
		<br/>
		Password: <input size="50" name="password" type="password" />
		<br/>
		<input style="height:25px; width:100px" type="submit" value="Login"/>
		<br/>
		</form>

		<button type="button" onclick="register();">register</button>
</body>
</html>
