<!DOCTYPE HTML>
<html>
<head>
<title>	LBSIM Login	</title>
<script type="text/javascript">
function getLocation(){
		if("wrongUsrPw" == {{.LoginRet}}){
				alert("password or username is wrong,please input again");
		}
};	
</script>
<style type="text/css">
body {text-align:center}
body a{text-decoration:none;position:absolute; top:80%; padding:0.5em 2em 0.5em 2em;background-color:blue;color:white}
#inputlogin{padding:0.5em 2em 0.5em 2em;background-color:blue;color:white}
</style>
</head>
<body onload="getLocation()">
		<form  action="/login" method="POST" name="loginForm">
		UserName: <input size="50" name="username" type="text" />
		<br/>
		Password: <input size="50" name="password" type="password" />
		<br/>
		<input id="inputlogin" type="submit" value="Login"/>
		<br/>
		</form>

		<a href="/register">register</a>
</body>
</html>
