<html>
	<head>
		<meta charset="gb2312"/>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<link rel="stylesheet" type="text/css" href="templates/css/main.css"></link>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
		<script src="templates/js/main.js"></script>
		<script src="templates/js/route.js"></script>
		<script src="templates/js/online.js"></script>
		<script src="templates/js/chat.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCUrsdVrY0c5EIqkrbfI0YduQlFfTG-n18&sensor=true"></script>
	</head>
	<body onload="mainInit();chatInit();routeInit();onlineInit();">
	
	</body>
</html>
