<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="gb2312"/>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<link rel="stylesheet" type="text/css" href="templates/css/main.css"></link>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
		<script src="templates/js/onlinefriends.js"></script>
	</head>
	<body onload="onlineInit();">
		<div data-role="page" id="online-page">
			<div data-theme="a" data-role="header" data-position="fixed">
				<div data-role="navbar">
					<ul>
						<li><a href='javascript:window.location="chat"'>chat</a></li>
						<li><a href='javascript:window.location="onlinefriends"' class="ui-btn-active ui-state-persist">online</a></li>
						<li><a href='javascript:window.location="route"'>route</a></li>
					</ul>
				</div><!-- /navbar -->
			</div>
			<div data-role="content">
				<ul data-role="listview" data-split-icon="gear" data-split-theme="d">
					{{with .AllUser}}
					{{range .}}
					<li name="online">
					<a href='javascript:window.location="route?withwho={{.Name}}"'>{{.Name}}</a>
					<a href='javascript:window.location="chat?withwho={{.Name}}"'>chat with {{.Name}}</a>
					</li>
					{{end}}
					{{end}}
				</ul>
			</div>
		</div>	
	</body>
</html>
