<html>
<head>
<meta charset="gb2312"/>
<script type="text/javascript">
		function onlineUserRefresh(){
				window.location.reload();
		};

		var sock = null;
		var wsuri ='ws://localhost:8888/wsOnlineUsers';
		window.onload=function(){
				console.log("onload");
				sock = new WebSocket(wsuri);
				sock.onopen = function(){
						console.log("connected to " + wsuri);
				}
				sock.onclose = function(e) {
						console.log("connection closed (" + e.code + ")");
				}

				sock.onmessage = function(e){
						console.log("message received: " + e.data);
						onlineUserRefresh();
				}
		};
</script>
</head>
<body>
<form align="center" action="/onlineUsers" method="POST">
		<p>Select friend who you want to meet please!</p>
		<input type="radio" name="chatOrRoute" value="chat" />chat
		<input type="radio" name="chatOrRoute" value="route" checked/>route<br/>
		{{with .AllUser}}
		{{range .}}
		<input type="radio" name="onlineUser" value="{{.Name}}"/>{{.Name}}<br/>
		{{end}}
		{{end}}
		<input type="submit" value="submit"/>
</form>
</body>
</html>
