<html>
<head>
<meta charset="gb2312"/>
<script type="text/javascript">
function onlineUserRefresh(){
		window.location.reload();
};

var sock = null;
var wsuri ='ws://127.0.0.1:8888/wsOnlineFriends';
window.onload=function(){
		console.log("onload");
		sock = new WebSocket(wsuri);
		sock.onopen = function(){
				console.log("connected to " + wsuri);
		}
		sock.onclose = function(e) {
				console.log("connection closed (" + e.code + ")");
		}

		sock.onmessage = function(e){
				console.log("message received: " + e.data);
				onlineUserRefresh();
		}

		getLocation();
		init();
};

function init(){
	 var list = document.getElementsByName("online");	
	 for (var i = 0; i < list.length; i++){
			 list[i].onclick=function(){
			 alert(this.innerHTML)
			 }
	 }

	 var listMenu = document.getElementsByName("menu");
	 for(var i = 0; i<listMenu.length; i++){
			 listMenu[i].onclick = function(){
					var listContent = document.getElementsByName("menuContent");
					var suffix = this.id.substr(3,this.id.length);
					for(var w=0; w < listContent.length; w++){
							if (suffix == listContent[w].id.substr(4, listContent[w].id.length)){
									listContent[w].style.display = "block";	
									continue;
							}
							listContent[w].style.display = "none";	
					}

					for(var j=0; j<listMenu.length; j++){
							if(i != j){
									listMenu[j].style.backgroundColor = "LightSlateBlue";
							}
					}
					this.style.backgroundColor = "MediumBlue";
					this.style.display = "block";
					 alert(this.innerHTML);
			 }
	 }
};

function savePosition(position){
	//	document.onlineFriendsForm.longitude.value = position.coords.longitude;
	//	document.onlineFriendsForm.lat.value = position.coords.latitude;
}

function getLocation(){
		if (navigator.geolocation){
				navigator.geolocation.getCurrentPosition(savePosition);
		}else{
				alert("The browser can not support geolocation");
		}
};

</script>
<style type="text/css">
		#tabContainer li
		{
				float:left;
				width:25%;
				text-align:center;
				padding-top:5px;
				padding-bottom:5px;
				background-color:LightSlateBlue;
				color:white;
		}
		ul li
		{
				list-style-type:none;
				border-style:none none solid none;
				border-width:1px;
				text-align:center;
				padding-top:10px;
				padding-bottom:10px;
		}
		form
		{
				text-align:center;
				clear:left;
		}
</style>
</head>
<body>
<div id="tabContainer">
<ul>
<li id="tabChat" name="menu">chat</li>
<li id="tabRoute" name="menu">route</li>
<li id="tabOnline" name="menu" style="background-color:MediumBlue;" >online</li>
<li id="tabGroup" name="menu">group</li>
</ul>
</div>
<div class="contentbox">
<div id="menuOnline" name="menuContent">
<form action="/onlineFriends" method="POST" name="onlineFriendsForm">
		<ul>
		{{with .AllUser}}
		{{range .}}
		<li name="online">
		{{.Name}}
		</li>
		{{end}}
		{{end}}
		</ul>
</form>
</div>
<div id="menuRoute" name="menuContent" style="display:none">

</div>
<div id="menuGroup" name="menuContent" style="display:none">

</div>
<div id="menuChat" name="menuContent" style="display:none">

</div>
</div>
</body>
</html>
