<html>
<head>
<meta charset="gb2312"/>
<meta http-equiv="refresh" content="3"/>
</head>
<body>
<form align="center" action="/onlineUsers" method="POST">
		<p>Select friend who you want to meet please!</p>
		<input type="radio" name="chatOrRoute" value="chat" />chat
		<input type="radio" name="chatOrRoute" value="route" checked/>route<br/>
		{{with .AllUser}}
		{{range .}}
		<input type="radio" name="onlineUser" value="{{.Name}}"/>{{.Name}}<br/>
		{{end}}
		{{end}}
		<input type="submit" value="submit"/>
</form>
</body>
</html>
