body
{
		margin:0;
		padding:0;
}
#tabContainer ul
{
	width:100%;
}
#tabContainer ul li
{
	text-align:center;
	background-color:LightSlateBlue;
	color:white;
	float:left;
	width:25%;
	padding-top:5px;
	padding-bottom:5px;
}

#onlineContainer li
{
		list-style-type:none;
		border-style:none none solid none;
		border-width:1px;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
}
form
{
		text-align:center;
		clear:left;
}
